<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3 text-center">
        <h1>Welcome to Examportal</h1>
        <img src="../../../assets/home-banner__illust.svg" alt="HomeIcon" class="img-fluid">
        
        <div class="mt20">
          <a
        [routerLink]="'/login'"
        mat-raised-button
        color="primary"
         >
        Login
        </a>
        <a
        [routerLink]="'/signup'"
        mat-raised-button
        color="primary"
        class="ml10"
         >
        Register
        </a>
        </div>
      </div>
    </div>
  </div>
</div>
